{% extends 'base.html' %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" >
        </div>
        <div class="col-md-6">
            <h2>{{movie.name}}</h2>
            <h4>{{movie.desc}}</h4>
            <h5>{{movie.price}}</h5>
            <a class="btn btn-warning" href="{% url 'webapp:update' movie.id %}"> UPDATE </a>
            <a class="btn btn-danger" href="{% url 'webapp:delete' movie.id %}"> delete </a>
        </div>
    </div>
</div>



{% endblock %}